<% include ./partials/header %>

<% if(data["Search"] != undefined) { %>
    <div class=jumbotron>
        <h1>Here's what we found</h1>
        <p>(click the picture for its IMDB page)</p>
    </div>
    <hr>
    <div class="row" style="display:flex; flex-wrap: wrap;">
        <% data["Search"].forEach(function(movie){ %>
            <% if(movie["Type"] != "game"){ %>
                <div class="col-xs-6 col-md-4 col-lg-3">
                    <div class="thumbnail">
                        <%= movie["Title"] %>
                        <a href="http://www.imdb.com/title/<%= movie["imdbID"] %>">
                            <img src=<%= movie["Poster"] %>>
                        </a>
                        <form action="/user/<%= currentUser._id %>" method="POST">
                            <input type="hidden" name="show[Title]" value="<%= movie["Title"] %>">
                            <input type="hidden" name="show[Poster]" value="<%= movie["Poster"]%>">
                            <button class="btn btn-info">Add to my list</button>
                        </form>
                    </div>
                <% } %>
            </div>
        <% }); %>
    </div>
    <a class="btn btn-sm" href="/create">Can't find what you're looking for?</a>
<% } else { %>
    <div class=jumbotron>
        <h1>Oops!</h1>
        <p>Your search didn't match any results.</p>
    </div>
<% } %>
<a class="btn btn-sm" href="/search">Search Again!</a>

<% include ./partials/footer %>